body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(Imagens/fundo_mar_tile.png);
    color: white;
}
.logo {
    width: 200px;
}

header {
    background-color: rgb(24, 76, 155)
    height: 107px;
}

#titulo {
    font-size: 75px;
}

#morto {
    width: 100%;
}

#principal {
    border-style: solid;
    border-width: 0px;
    margin: 10px 325px 10px;
    font-size: 20px;
}

#principal > img {
    width: 100%;
}

.subtitulo {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.titulinho {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.titulo {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

footer {
    background-color: rgb(24, 76, 155)
}
